* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;
    
}

body {
    min-height: 100vh;
    background: url(background.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

main.table {
    width: 82vw;
    height: 90vh;
}
td img {
    width: 36px;
    height: 36px;
    margin-right: 5rem;
    border-radius: 50%;
    vertical-align: middle;
}
.table_header {
    width: 100%;
    height: 10%;
    background-color: #fffb;
    padding: .8rem 1rem;
}

.table_body {
    width: 95%;
    max-height: calc(89% - .8rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
}

.table_body::-webkit-scrollbar {
    border-radius: 0.5rem;
    height: 0.5rem;
}

.table_body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #fff;
}

.table_body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}


table {
    width: 100;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr:hover {
    background-color: #fff6;
}